/* CSS declarations go here */
.row {
	margin-top: 5px;
	vertical-align: middle;
}

.webinar-title {
	font-size: 26px;
}

#webinar-wait {
	display: none;
}

.total-attendees {
	font-size: 20px;
	text-align: center;
}

.webinar-welcome {
	font-size: 20px;
	text-align: center;
}

#live-video {
	display: none;
}

.status {
	font-size: 16px;
}

.message-sender {
	color: gray;
}

.message-date {
	color: gray;	
}

.col-centered {
  text-align: center;
}

.site-title {
  color: black;
  font-size: 20px;
}

.info-title {
  margin-top: 30px;
  color: black;
  font-size: 24px;
}

.column-sort {
  cursor: pointer;
}

.icon-small {
	font-size: 14px;
}

.column-title {
	font-weight: bold;
	text-align: center;
}

.col-right {
	text-align: right;
}

.col-center {
	text-align: center;
}

.column-bold {
	font-weight: bold;
}

.bg-green {
	background-color: #80CC99;
}

.green {
	color: green;
}

.red {
	color: red;
}

.voffset30 {
	margin-top: 30px;
}

.voffset50 {
	margin-top: 50px;
}

.voffset200 {
	margin-top: 200px;
}

.voffset15 {
	margin-top: 15px;
}

body {
  font-size: 18px;
}

.main-row {
	margin: 0;
  	padding: 0;
}

.main-col {
	background-color: white;
	padding-bottom: 50px;
}

#purchase {
	font-weight: bold;
	font-size: 28px;
}

#purchase-paypal {
	font-weight: bold;
	font-size: 28px;
}

.total-name {
  font-size: 28px;
}

.total-amount {
  font-size: 28px;
  text-align: right;
}

.checkout-title {
  font-size: 28px;
  text-align: left;
}

@media (min-width: 1024px ) {

	.row-checkout-title { 
	  position: relative;
	}

	.help-title {
	  text-align: right;
	  vertical-align: bottom;
	  position: absolute;
	  bottom: 20px;
	  right: 0;
	}

}

@media (max-width: 1024px ) {

	.help-title {
	  display: none;
	}

}

.purchase-confirmed {
	font-size: 24px;
}

.download-link {
	font-size: 24px;
	text-align: center;
}

#product-id {
  display: none;
}

.earnings-title {

	font-size: 26px;

}

.earnings-total {

	font-size: 100px;

}
